.resume {
    margin: 0 10vw;
    box-shadow: 0 2px 4px #666666;
    padding: 10px;
    font-family: 'Arial Rounded MT Bold';
    background: linear-gradient(#666,#ddd,#666,#ccc,#666) repeat-y;
}
.topnav {
    display: flex;
    flex-flow: column;
    align-items: center;
    padding: 1vh 1vw;
    justify-content: space-around;
    background: linear-gradient(lightcyan, lightgrey)
}
.title {
    box-sizing: border-box;
    font-size: 2vw;
    font-family: 'Arial Rounded MT Bold';
    font-weight: 600;
    color: aliceblue;
    text-align: center;
    padding: 4vh 4vw;
    background: linear-gradient(lightblue,navy);
    width: 100%;
}
.positiontitle {
    font-size: 1.5vw;
    font-family: 'comic sans ms';
    font-weight: 600;
    color: navy;
}
.contacts {
    display: flex;
    margin: 0 1vw;
    justify-content: space-around;
}
.contact-item {
    font-size: 1vw;
    width: 40vw;
    margin: 1vh 1vw;
    text-align: center;
}
.panel {
    padding: 1vh 3vw;
    margin: 1vh 2vw;
    box-shadow: 0 2px 2px #666666;
    background: linear-gradient(whitesmoke, aliceblue);
    margin-bottom: 2vh;
}
.panel-title {
    font-size: 1.5vw;
    background: linear-gradient(to right, lightcyan, lightgrey);
    padding: 2vh 1vw;
}
.content-item {
    padding: 1vh 3vw;
    border-left: 4px solid lightblue;
    box-shadow: 0 1px 1px #999;
    margin: 4px 10px;
    font-size: 1vw;
}
.content-item:before {
    content: '\bb\20';
    text-indent: -5px;
    margin-left: -12px;
}
.skills {
    display: flex;
    flex-flow: row wrap;
    padding: 1vh 1vw 0 2vw;
    justify-content: space-around;
}
.skill {
    padding: 4px;
    margin: 1vh 1vw;
    box-shadow: 0 2px 4px blue;
    border-radius: 10px 10px 0 0;
    color: blue;
}
.skill.secondary {
    box-shadow: 0 2px 4px #999;
    border-radius: 0 0 4px 4px;
    color: #666;
}
.work-exp {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-around;
}
.exp {
    padding: 1vh 1vw;
    margin: 2vh 4px;
    border-left: 4px solid teal;
    box-shadow: 0 0 4px blue;
    width: 18vw;
    font-size: 1.2vw;
    text-align: center;
}
@media screen and (max-width: 640px) {
    .contacts {
        flex-flow: column;
    }
}