.container {
    width: 100%;
    margin: 0 auto;
    font-family: Montserrat;
    font-size: 16px;
}

.resume-section {
    box-shadow: 0 0 4px #999999;
    border-radius: 10px 10px 0 0;
}

.sectiontitle {
    border-radius: 4px;
    font-family: Orbitron;
    padding: 10px;
    border-radius: 10px 10px 0 0;
    letter-spacing: 2px;
    background-color: #666666;
    color: #f9f9f9;
    margin-bottom: 10px;
}

.skillgroup {
    padding: 10px;
    margin: 0 10px 10px;
    box-shadow: 0 0 4px #999999;
    border-radius: 10px 10px 0 0;
    display: none;
}

.skillgroup.active {
    display: block;
}

.skillgroupname {
    border-radius: 10px 10px 0 0;
    box-shadow: 0 0 4px #999999;
    padding: 10px;
    background-color: darkslateblue;
    color: whitesmoke;
}

.org-name {
    background-color: #cccccc;
    padding: 4px 8px;
}

.job-title {
    background-color: slategrey;
    color: beige;
    padding: 8px;
    border-radius: 8px 8px 0 0;
}

.tab-btn {
    font-family: Orbitron;
    font-size: 14px;
    letter-spacing: 1px;
    padding: 8px;
    border: none;
    box-shadow: 0 0 4px #666666;
    border-radius: 0 0 20px 20px;
    cursor: pointer;
    margin-bottom: 8px;
    background-color: slategrey;
    color: white;
}